<div class="engagement shadow">
                <ul class="bio">
                  <li>Taylor, K <span class="label">( NON-UBS ACCT. HOLDER )</span></li>
                  <li> <span class="faid">ZZ00</span></li>
                  <li> <span class="plantype">FGA</span></li>
                </ul>
                <div class="dash">
                  <div class="countdown">
                    <h1 class="days">180</h1>
                    <p>left to deliver plan</p>
                  </div>
                  <div class="status">
                    <h1>PLAN IN PROGRESS</h1>
                    <span class="tracking">ZZ1234</span><span class="type">ANNUAL</span>
                    <span class="sa-date">01/13/2014</span>
                </div>
                  
                  <div class="fee-summary">
                    <table>
                      <tr><td class="cash">2,500</td></tr>
                      <tr><td class="cash">2,500</td></tr>
                      <tr><td class="cash total">0</td></tr>
                    </table>
                  </div>
                </div><!--/dash -->

                <div class="h-tabs">
                  <ul class="h-menu">
                    <li><a href="#">Document Status</a></li>
                    <li><a href="#" >Payment Info</a></li>
                    <li><a href="#" >Renewal Status</a></li>
                    <li><a href="#" >Renewal History</a></li>
                  </ul>
                 </div>
               
</div><!--/engagement -->