<table width="100%" class="datagrid">
  <thead>
    <tr>
        <th>Document</th>
        <th>Received on</th>
        <th>Approved on</th>                     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Service Agreement Form</td>
      <td>Jan 14, 2014</td>
      <td>Jan 13, 2014</td>
    </tr>
    <tr>
        <td>Payments Setup Form</td>
        <td>Jan 14, 2014</td>
        <td>-</td>
    </tr>
    <tr>
      <td>Table of Contents</td>
      <td>Jan 14, 2014</td>
      <td>-</td>
      </tr>
    <tr>
      <td>FA Attestation</td>
      <td>Jan 14, 2014</td>
      <td>-</td>
      </tr>
  </tbody>
</table>