<table width="100%" class="datagrid">
  <thead>
    <tr>
        <th>Engagement Date</th>
        <th>Plan Type</th>
        <th>Tracking Acct #</th>      
        <th>Approval Status</th> 
        <th>FAID</th>
        <th>Fee Amount</th>
        <th>Total Payment Amount</th>
        <th>Payment Status</th>                
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>03/31/2014</td>
      <td>FGA</td>
      <td>XX12345</td>
      <td>N/A</td>
      <td>ZZ00</td>
      <td class="cash">$0</td>
      <td class="cash">$2,500</td>
      <td>Paid in Full</td>
    </tr>
    <tr>
      <td>06/30/2014</td>
      <td>FGA</td>
      <td>XX56342</td>
      <td>N/A</td>
      <td>ZZ12</td>
      <td class="cash">$2,500</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>01/30/2014</td>
      <td>N/A</td>
      <td>XX22389</td>
      <td>N/A</td>
      <td>ZZ23</td>
      <td class="cash">$2,500</td>
      <td class="cash">$2,500</td>
      <td>Paid in Full</td>
    </tr>
  </tbody>
</table>

