<table width="100%" class="datagrid">
  <thead>
    <tr>
        <th>Payment Terms</th>
        <th>Payment Date</th>
        <th>Payment Amount</th>      
        <th>Funds Debited From Account #</th> 
        <th>Payment Status</th>
        <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Pay up front</td>
      <td>N/A</td>
      <td>$2,500</td>
      <td>N/A</td>
      <td>Pending</td>
      <td>$0</td>
    </tr>
    <tr>
      <td>Pay at end</td>
      <td>01/012014</td>
      <td>$2,500</td>
      <td>JG12345</td>
      <td>Paid</td>
      <td>$2,500</td>
    </tr>
    <tr>
      <td>Pay up front</td>
      <td>03/31/2014</td>
      <td>$3,950</td>
      <td>JG5622</td>
      <td>Pending</td>
      <td>$2,500</td>
    </tr>
  </tbody>
</table>
