<div class="countdown">
  <h1 class="days">60</h1>
  <p>left to anniversary</p>
</div>


<table width="72%" class="datagrid">
  <thead>
    <tr>
        <th>Documents</th>
        <th>Received on</th>
        <th>Approved on</th>      
        <th> Effective Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Service Agreement Form</td>
      <td>02/01/2014</td>
      <td>01/12/2014</td>
      <td>04/22/2014</td>
    </tr>
    <tr>
      <td>Payments Setup Form</td>
      <td>01/01/2014</td>
      <td>01/01/2014</td>
      <td>01/12/2014</td>
    </tr>
    <tr>
      <td>Table of Contents</td>
      <td>03/31/2014</td>
      <td>-</td>
      <td>09/14/2014</td>
    </tr>
  </tbody>
</table>
 